---
layout: default
---

{% include navbar.html %}

<div class="container pt-5 pb-3">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="display-6">We are a successful business!</h1>
        </div>
        <div class="col-md-7">            
            {% include lorem-p.html %}    
            {% include lorem-p.html %}    
            {% include lorem-p.html %}
        </div>
        <div class="col-md-5 pt-1">
            <img src="http://placehold.it/500x300" alt="responsive image" class="img-fluid">
        </div>        
    </div>
</div>


{% include footer.html %}