<div class="container-fluid bg-light-blue mt-5 mb-5 pt-5 pb-4">
    <blockquote class="blockquote text-center">
        <img class="img-fluid img-thumbnail rounded mb-3" style="width: 250px; height: 250px;  object-fit: cover; object-position: -50px 0" src="/assets/img/Pexels-attractive-beauty-blond-cute-301290.webp" alt="portrait image">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere.</p>
        <footer class="blockquote-footer mb-3">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
    <br class="mb-2"/>  
</div>