<div class="card my-3">
  <img src="http://placehold.it/560x560" class="card-img-top" alt="card image top">
  <div class="card-body">
    <h5 class="card-title">Service description</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consect etur adipi sicing elit. Corrupti fugit eos dolor quaerat nostrum exer citation em maxime repud iandae reici endis odit sed, necessit atibus tempore a in accusamus quis rem rerum.</p>
  </div>
</div>
