---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.baseurl }}{{ post.url }}/assets/css/bootstrap.min.css";

.jumbotron {
    background-image: url("{{ site.baseurl }}{{ post.url }}/assets/img/Pexels-architecture-buildings-business-city-325185.webp");
    background-position-y: 40%;
    height: 400px;
  }

.bg-light-blue {
  background-color: #bad1ea47;
}