---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ '/assets/css/bootstrap.min.css' | relative_url }}";

.jumbotron {
    background-image: url("{{ '/assets/img/Pexels-architecture-buildings-business-city-325185.webp' | relative_url  }}");
    background-position-y: 40%;
    height: 400px;
  }

.bg-light-blue {
  background-color: #bad1ea47;
}