<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/' | absolute_url }}favicon.ico">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | absolute_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">
    
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <wrapper class="d-flex flex-column">
      {% include navigation.html %}
      <main class="flex-fill">
        {{ content }}
      </main>
      {% include footer.html %}
    </wrapper>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ '/assets/js/jquery.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/popper.min.js' | absolute_url }}"></script>
    <script src="{{ '/assets/js/bootstrap.min.js' | absolute_url }}"></script>
  </body>
</html>
